{
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 15,
        "babelOptions": {
            "plugins": ["@babel/plugin-proposal-class-properties"]
        }
    },
    "parser": "@babel/eslint-parser",
    "plugins": ["@babel"],
    "rules": {
        "@babel/new-cap": "error",
        "@babel/no-invalid-this": "error",
        "@babel/no-undef": "error",
        "@babel/no-unused-expressions": "error",
        "@babel/object-curly-spacing": "error",
        "@babel/semi": "error"
    }
}
